* {
	margin: 0;   
	padding: 0;
	color: black;
  }


/* First screen */
#firstscreen {
	height: 100vh;
	margin-bottom: 0;
	padding-bottom: 0;
}

#firstscreen #logo {
	width: 18em;
	display: block;
	padding-top: 5em;
	padding-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
}

#firstscreen #footer {
	color: black;
	font-size: 0.5em;
	margin-bottom: 0.5em;
	/* bottom: 1em; */
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

p {
	font-size: 1em;
	text-align: center;
}

#arrowdown {
	width: 3em;
	display: block;
	padding-top: 5em;
	padding-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
}


/* Second screen */
#secondscreen #logo {
	width: 12em;
	margin-bottom: 2em;
}

#secondscreen {
	display: flex;
	height: 100vh;
}

#info {
	display: flex;
	flex-direction: column;
	width: 30%;
	/* height: 100vh; */
	padding-left: 2em;
	padding-top: 1em;
	height: 100vh;
}

#map { 
	height: 100vh; 
	width: 70%;
}

#secondscreen p {
	text-align: left;
	margin-bottom: 1em;
}


#zone1 {
	color: #FF0000;
}
#zone2{
	color: #FF9D00;
}
#zone3{
	color: #F7E405;
}
#zone4{
	color: #6CD800;
}
#zone5{
	color: #0062FF;
}
#zone6{
	color: #BE00EB;
}


input[type=checkbox] {
	vertical-align: middle;
	position: relative;
	order: 2;
	margin-left: 3em;
}
label {
	display: flex;
	margin-bottom: 0.5em;
}


/* Scroll function */
#scroll {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#scroll section {
    scroll-snap-align: start;
}